<div class="container mt-5 pt-5" style="margin-top: 200px; text-align: center;">
  <h1>ユーザーリスト</h1>

  <div class="card">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>コード</th>
            <th>権限</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.user_code %></td>
              <td>
                <% if user.admin? %>
                  <span class="badge bg-success">管理者</span>
                <% else %>
                  <span class="badge bg-secondary">一般</span>
                <% end %>
              </td>
              <td class="d-flex align-items-center">
                <%= link_to "編集", edit_user_path(user), class: "btn btn-primary btn-sm" %>
                <span class="mx-2">|</span>
                <%= button_to "削除", user_path(user), method: :delete, class: "btn btn-danger btn-sm ml-3 delete-button", id: "delete-#{user.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center mt-4">
        <div style="flex: 1; text-align: left;">
          <%= link_to '戻る', informations_path, class: 'btn btn-secondary', style: 'margin-left: 33.33%;', data: { turbo: false } %>
        </div>
        <div>
          <%= render partial: 'kaminari/paginator', locals: { paginator: @users } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const deleteButtons = document.querySelectorAll(".delete-button");
  const adminUsersCount = <%= @users.select { |user| user.admin? }.count %>;

  deleteButtons.forEach(button => {
    button.addEventListener("click", function(event) {
      if (adminUsersCount <= 1) {
        event.preventDefault();
        alert("権限ユーザーが1人しかいないため、削除できません。");
      } else {
        // デフォルトの削除操作を実行
        const confirmation = confirm("本当に削除してもよろしいですか？");
        if (!confirmation) {
          event.preventDefault();
        }
      }
    });
  });
});
</script>
