<div class="container mt-5">
  <h2 class="text-center">アイテム一覧</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>商品コード</th>
            <th>商品名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.product_code %></td>
              <td><%= item.name %></td>
              <td><%= link_to '詳細', item_path(item), class: 'btn btn-primary' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if current_user.admin? %>
        <%= link_to '新規アイテム登録', new_item_path, class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">お知らせ</h3>
      <div class="list-group">
        <% if @informations.any? %>
          <% @informations.each do |info| %>
            <div class="list-group-item">
              <h5 class="mb-1"><%= info.title %></h5>
              <p class="mb-1"><%= info.message %></p>
            </div>
          <% end %>
        <% else %>
          <div class="list-group-item">
            <p class="mb-1">現在お知らせはありません</p>
          </div>
        <% end %>
      </div>
      <% if current_user.admin? %>
        <%= link_to '新規お知らせ作成', new_information_path, class: 'btn btn-warning mt-3' %>
      <% end %>
    </div>
  </div>
</div>
