<div class="sidebar d-flex flex-column" style="background-color: #223A70; color: white; margin-left: -15px; width: 220px; height: 100vh; justify-content: flex-start; align-items: center; overflow-y: auto;">
  <h3 class="text-center" style="margin-top: 40px;">Order Analysis</h3>
  <ul class="list-group mt-auto">
    <% if current_user %>
      <% if current_user.admin? %>
        <li class="list-group-item bg-transparent border-0">
          <%= link_to 'インポート', import_form_items_path, class: 'text-white' %>
        </li>
      <% end %>
      <% if @forecast_exists %>
        <li class="list-group-item bg-transparent border-0">
          <%= link_to 'エクスポート', export_forecast_path(format: :csv), class: 'text-white' %>
        </li>
      <% else %>
        <li class="list-group-item bg-transparent border-0 text-white" style="cursor: not-allowed;">
          エクスポート (データがありません)
        </li>
      <% end %>
      <% if current_user.admin? %>
        <li class="list-group-item bg-transparent border-0">
          <%= link_to 'Info 編集', Information.any? ? edit_information_path(Information.first) : new_information_path, class: 'text-white' %>
        </li>
        <li class="list-group-item bg-transparent border-0"><%= link_to 'ユーザーリスト', users_path, class: 'text-white' %></li>
        <li class="list-group-item bg-transparent border-0"><%= link_to 'ユーザー登録', new_user_registration_path, class: 'text-white' %></li>
      <% end %>
    <% else %>
      <li class="list-group-item bg-transparent border-0"><%= link_to 'ログイン', new_user_session_path, class: 'text-white' %></li>
    <% end %>
    <li class="list-group-item bg-transparent border-0" style="margin-block-end: 40px;">
      <% if current_user %>
        <%= form_with(url: destroy_user_session_path, method: :delete, data: { turbo: false }, class: "d-inline") do %>
          <%= submit_tag 'ログアウト', class: "btn btn-link list-group-item-action p-0 m-0 text-white submit-button" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
