<!DOCTYPE html>
<html>
<head>
  <title>Order Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="turbo-visit-control" content="disable">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
  <% if !current_page?(root_path) && !current_page?(new_user_session_path) %>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Order Analysis</a>
        <ul class="navbar-nav ml-auto">
        </ul>
      </nav>
    </header>
  <% end %>

  <% if flash[:notice] || flash[:alert] %>
    <div class="flash-message alert alert-dismissible fade show" role="alert" id="flash-message-alert">
      <%= flash[:notice] || flash[:alert] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="container-fluid flex-grow-1">
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-right">
      <span class="text-muted text-right">© Order Analysis 2025</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <%= javascript_importmap_tags %>
</body>
</html>
