<!DOCTYPE html>
<html>
  <head>
    <title>Order Analysis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-9 mt-5">
          <div id="flash-messages-container">
            <%= turbo_frame_tag "flash-messages-frame" do %>
              <%= render 'layouts/flash_messages' %>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
