<!DOCTYPE html>
<html>
<head>
  <title>Order Analysis</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <div class="container-fluid py-3 fixed-top header" style="background-color: #223A70; color: white;">
      <div class="row">
        <div class="col-12">
          <h1 class="text-left">Order Analysis</h1>
        </div>
      </div>
    </div>
  </header>

  <div id="flash-messages-container">
    <%= turbo_frame_tag "flash-messages-frame" do %>
      <%= render 'layouts/flash_messages' %>
    <% end %>
  </div>

  <main class="container mt-5 pt-5">
    <%= yield %>
  </main>

  <footer class="footer mt-auto">
    <div class="container d-flex justify-content-end">
      <span class="text-muted">© Order Analysis 2025</span>
    </div>
  </footer>

  <%= javascript_importmap_tags %>
</body>
</html>
