<!DOCTYPE html>
<html>
  <head>
    <title>Order Analysis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid py-3 fixed-top header" style="background-color: #223A70; color: white;">
      <div class="row">
        <div class="col-12">
          <h1 class="text-left">Order Analysis</h1>
        </div>
      </div>
    </div>

    <div class="container registration-container mt-5 pt-5">
      <%= yield %>
    </div>

    <footer class="registration-footer">
      <div class="container d-flex justify-content-end">
        <span class="text-muted">© Order Analysis 2025</span>
      </div>
    </footer>
  </body>
</html>
